image_id = "image_id"
subnet_id = "subnet_id"
public_key_path="path_to_public_key"
cloud_id="cloud_id"
folder_id="folder_id"
service_account_key_file="key.json"
private_key="~/.ssh/id_rsa"
count = 1
app_disk_image           = "app_disk"
db_disk_image            = "db_disk"
